/* Global styles */
:root {
  --color-accent-hover: #d6c05d;
  --color-accent: #bea42e;
  --color-body-darker: #525c3c;
  --color-body: #7b895b;
  --color-dark: #333;
  --color-grey: #cbcdc7;
  --color-headings: #00281f;
  --color-light: #eee;
  --color-primary-darker: #014942;
  --color-primary-hover: #399c92;
  --color-primary: #037367;
  --color-secondary-darker: #55928d;
  --color-secondary-hover: #97d6d1;
  --color-secondary: #7bd4cc;
  --input-border-radius: 30px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* Typography */
::selection {
  background: var(--color-primary);
  color: var(--color-light);
}

html {
  font-size: 62.5%;
}

body {
  color: var(--color-body);
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;
}

h1,
h2,
h3 {
  color: var(--color-headings);
  line-height: 1.1;
  margin-bottom: 1rem;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
  font-weight: 500;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}

/* Links */
a {
  text-decoration: none;
}

.link-arrow {
  color: var(--color-accent);
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin 0.15s ease-out;
}

.link-arrow:hover::after {
  margin-left: 15px;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

/* Badges */
.badge {
  border-radius: 20px;
  font-size: 2rem;
  font-weight: 600;
  padding: 0.5rem 2rem;
  white-space: nowrap;
}

.badge--small {
  font-size: 1.6rem;
  padding: 0.5rem 1.5rem;
}

.badge--primary {
  background-color: var(--color-primary);
  color: var(--color-light);
}

.badge--secondary {
  background-color: var(--color-secondary);
  color: var(--color-light);
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }

  .badge--small {
    font-size: 1.2rem;
  }
}

/* Lists */
.list {
  list-style-type: none;
  padding-left: 0;
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

.list--tick {
  color: var(--color-headings);
  list-style-image: url(../icons/tick.svg);
  padding-left: 3rem;
}

.list--tick .list__item {
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0rem;
  }
}

/* Icons */
.icon {
  height: 40px;
  width: 40px;
}

.icon--small {
  height: 30px;
  width: 30px;
}

.icon--primary {
  fill: var(--color-primary);
}

.icon--secondary {
  fill: var(--color-secondary);
}

.icon--light {
  fill: var(--color-light);
}

.icon-container {
  align-items: center;
  background-color: #f3faf7;
  border-radius: 100%;
  display: inline-flex;
  height: 64px;
  justify-content: center;
  width: 64px;
}

.icon-container--accent {
  background-color: var(--color-accent);
}

/* Buttons */
.button {
  border-radius: 40px;
  border: none;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 1rem 0;
  outline: 0;
  padding: 2rem 3rem;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}

.button--block {
  display: inline-block;
  width: 100%;
}

.button--stretched {
  padding-left: 6rem;
  padding-right: 6rem;
}

.button--outline {
  background: var(--color-light);
  border: 2px solid var(--color-headings);
  color: var(--color-headings);
}

.button--outline:hover {
  background: var(--color-headings);
  border-color: var(--color-light);
  color: var(--color-light);
}

.button--primary {
  background-color: var(--color-primary);
  color: var(--color-light);
}

.button--primary:hover {
  background-color: var(--color-primary-hover);
}

.button--secondary {
  background-color: var(--color-secondary);
  color: var(--color-light);
}

.button--secondary:hover {
  background-color: var(--color-secondary-hover);
}

.button--accent {
  background-color: var(--color-accent);
  color: var(--color-light);
}

.button--accent:hover {
  background-color: var(--color-accent-hover);
}

@media screen and (min-width: 1024px) {
  .button {
    font-size: 1.5rem;
  }
}

/* Inputs */
.input {
  border-radius: var(--input-border-radius);
  border: 1px solid var(--color-light);
  color: var(--color-headings);
  font-size: 2rem;
  outline: none;
  padding: 1.5rem 3.5rem;
}

::placeholder {
  color: var(--color-grey);
}

.input-group {
  border-radius: var(--input-border-radius);
  border: 1px solid var(--color-light);
  display: flex;
  width: fit-content;
}

.input-group .input {
  border: 0;
  flex-grow: 1;
  padding: 1.5rem 2rem;
}

.input-group button {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 4px;
}

.input-group button .icon {
  height: 25px;
  margin-right: 10px;
  width: 25px;
}

.input-group--shadow {
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 550px) {
  .input-group {
    flex-wrap: wrap;
  }

  .input-group button {
    flex-grow: 1;
  }

  .input-group,
  .input-group .input {
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1024px) {
  .input {
    font-size: 1.5rem;
  }

  .input-group {
    width: 100%;
  }
}

/* Cards */
.card {
  border-radius: 7px;
  box-shadow: 0 0 20px 10px #f3f3f3;
  overflow: hidden;
}

.card__header,
.card__body {
  padding: 2rem 3rem;
}

.card--primary .card__header {
  background-color: var(--color-primary);
  color: var(--color-light);
}

.card--secondary .card__header {
  background-color: var(--color-secondary);
  color: var(--color-light);
}

.card--primary .badge--primary {
  background-color: var(--color-primary-darker);
}

.card--secondary .badge--secondary {
  background-color: var(--color-secondary-darker);
}

/* Plans */
.plan {
  transition: transform 0.3s ease-out;
}

.plan__name {
  color: var(--color-light);
  font-size: 2.4rem;
  font-weight: 500;
  margin: 0;
}

.plan__price {
  font-size: 6rem;
}

.plan__billing-cycle {
  font-size: 2.4rem;
  font-weight: 300;
  margin-right: 1rem;
  opacity: 0.8;
}

.plan__description {
  display: block;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 1px;
}

.plan .list__item {
  letter-spacing: 1px;
  margin-bottom: 2rem;
}

.plan--popular {
  transform: scale(1.1);
}

.plan--popular .card__header {
  position: relative;
}

.plan--popular .card__header::before {
  content: url(../icons/popular.svg);
  display: inline-block;
  width: 40px;
  position: absolute;
  top: -3px;
  right: 5%;
}

.plan:hover {
  transform: scale(1.05);
}

.plan--popular:hover {
  transform: scale(1.15);
}

@media screen and (min-width: 1024px) {
  .plan__name {
    font-size: 1.4rem;
  }

  .plan__price {
    font-size: 5rem;
  }

  .plan__billing-cycle {
    font-size: 1.6rem;
  }

  .plan__description {
    font-size: 1.7rem;
  }
}

/* Media */
.media {
  display: flex;
  margin-bottom: 4rem;
}

.media__image {
  margin-top: 1rem;
}

.media__title {
  margin-top: 0;
}

.media__body {
  margin: 0 2rem;
}

/* Quotes */
.quote {
  font-size: 3rem;
  font-style: italic;
  color: var(--color-body-darker);
  line-height: 1.3;
}

.quote__text::before {
  content: open-quote;
}

.quote__text::after {
  content: close-quote;
}

.quote__author {
  font-size: 3rem;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 0;
}

.quote__company {
  color: var(--color-headings);
  font-size: 2rem;
  font-style: normal;
  opacity: 0.4;
}

.quote__line {
  bottom: 10px;
  position: relative;
}

@media screen and (min-width: 1024px) {
  .quote {
    font-size: 2rem;
  }

  .quote__author {
    font-size: 2.4rem;
  }

  .quote__company {
    font-size: 1.6rem;
  }
}

/* Grids */
.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* Testimonials */
.testimonial {
  padding: 4rem;
}

.testimonial__image-container {
  position: relative;
}

.testimonial__image-container > img {
  width: 100%;
}

.testimonial__image-container > .icon-container {
  position: absolute;
  right: -32px;
  top: 3rem;
}

@media screen and (min-width: 768px) {
  .testimonial .quote,
  .testimonial .quote__author {
    font-size: 2.4rem;
  }

  .testimonial .quote {
    margin-left: 6rem;
  }
}

@media screen and (max-width: 380px) {
  .testimonial {
    padding: 0.5rem;
  }

  .testimonial__image-container > .icon-container {
    position: absolute;
    right: 2px;
    top: 0.5rem;
  }
}

/* Callouts */
.callout {
  border-radius: 5px;
  padding: 4rem;
}

.callout--primary {
  background-color: var(--color-primary);
  color: var(--color-light);
}

.callout__content {
  text-align: center;
}

.callout__heading {
  color: var(--color-light);
  font-size: 3rem;
  margin-top: 0;
}

.callout .button {
  justify-self: center;
  align-self: center;
}

@media screen and (min-width: 768px) {
  .callout .grid {
    grid-template-columns: 1fr auto;
  }

  .callout__content {
    text-align: left;
  }

  .callout .button {
    justify-self: start;
    margin: 0 2rem;
  }
}

/* Collapsibles */
.collapsible__header {
  display: flex;
  justify-content: space-between;
}

.collapsible__heading {
  margin-top: 0;
  font-size: 3rem;
}

.collapsible__chevron {
  transform: rotate(-90deg);
  transition: transform 0.3s ease-in;
}

.collapsible__content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.3s ease-in;
}

.collapsible--expanded .collapsible__chevron {
  transform: rotate(0);
}

.collapsible--expanded .collapsible__content {
  opacity: 1;
  max-height: 100vh;
}

/* Blocks */
.block {
  --padding-vertical: 6rem;
  padding: var(--padding-vertical) 2rem;
}

.block__header {
  margin-bottom: 4rem;
  text-align: center;
}

.block__heading {
  margin-top: 0;
}

.block--dark {
  background-color: var(--color-dark);
  color: var(--color-grey);
}

.block--dark h1,
.block--dark h2,
.block--dark h3 {
  color: var(--color-light);
}

.block--skewed-right {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 90%);
  padding-bottom: calc(var(--padding-vertical) + 4rem);
}

.block--skewed-left {
  clip-path: polygon(0% 0%, 0% 100%, 100% 90%, 100% 0%);
  padding-bottom: calc(var(--padding-vertical) + 4rem);
}

/* Navbar */
.nav {
  background-color: var(--color-dark);
  color: var(--color-light);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0.25rem 1rem;
  align-items: center;
}

.nav__brand {
  transform: translateY(5px);
}

.nav__list {
  margin: 0;
  width: 100%;
}

.nav__item {
  border-bottom: 1px solid #222;
  padding: 0.5rem 2rem;
}

.nav__item > a {
  color: var(--color-light);
  transition: color 0.25s ease-in;
}

.nav__item > a:hover {
  color: #fff;
}

.nav__toggler {
  cursor: pointer;
  opacity: 0.5;
  transition: all 0.15s ease-in;
}

.nav.collapsible--expanded .nav__toggler {
  opacity: 1;
  box-shadow: 0 0 0 3px #777;
  border-radius: 5px;
}

@media screen and (min-width: 768px) {
  .nav__toggler {
    display: none;
  }

  .nav__list {
    display: flex;
    font-size: 1.6rem;
    max-height: 100%;
    opacity: 1;
    width: auto;
  }

  .nav__item {
    border: 0;
  }
}

/* Banner */
.banner__tagline {
  color: var(--color-grey);
  font-size: 2rem;
  letter-spacing: 1px;
  margin: 2rem 0 5rem;
}

.banner__image {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .banner {
    padding-top: 1rem;
  }

  .banner__content {
    align-self: center;
    text-align: left;
  }
}

/* Domain Block */
.domain-block .input-group {
  border: 0;
  box-shadow: 0 0 30px 20px #e6ebee;
  margin: 4rem auto;
  max-width: 700px;
}

.domain-block__prices {
  align-items: center;
  display: grid;
  font-size: 2rem;
  font-weight: 600;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 6rem);
  justify-items: center;
  margin: 0 auto;
  max-width: 700px;
}

@media screen and (max-width: 400px) {
  .domain-block__prices {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .domain-block__prices {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }
}

/* Plans Block */
.plans-block .grid {
  gap: 8rem 4rem;
}

.plans-block .card {
  max-width: 500px;
  margin: 0 auto;
}

/* Features block */
.feature {
  align-items: center;
  gap: 4rem 2rem;
  margin: 12rem auto;
}

.feature:first-of-type {
  margin-top: 6rem;
}

.feature__heading {
  margin: 1rem 0;
}

.feature__image {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .feature:nth-of-type(even) .feature__content {
    order: 2;
  }
}

/* Showcase Block */
.showcase-block__image > img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .showcase-block .grid {
    grid-template-columns: 50% 50%;
    column-gap: 2rem;
  }

  .showcase-block__image {
    justify-self: end;
  }

  .showcase-block__image > img {
    max-width: 700px;
    width: auto;
  }
}
