<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">Block</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Error dignissimos
      tempore iusto recusandae quod vero numquam explicabo voluptate
      consequuntur rerum!
    </p>
  </header>
</section>

<section class="block block--dark">
  <div class="container">
    <header class="block__header">
      <h2 class="block__heading">Block Dark</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Error
        dignissimos tempore iusto recusandae quod vero numquam explicabo
        voluptate consequuntur rerum!
      </p>
    </header>
  </div>
</section>

<section class="block block--dark block--skewed-right">
  <div class="container">
    <header class="block__header">
      <h2 class="block__heading">Block Dark Skewed Right</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Error
        dignissimos tempore iusto recusandae quod vero numquam explicabo
        voluptate consequuntur rerum!
      </p>
    </header>
  </div>
</section>

<section class="block block--dark block--skewed-left">
  <div class="container">
    <header class="block__header">
      <h2 class="block__heading">Block Dark Skewed Left</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Error
        dignissimos tempore iusto recusandae quod vero numquam explicabo
        voluptate consequuntur rerum!
      </p>
    </header>
  </div>
</section>
