<section class="block container domain-block">
  <header class="block__header">
    <h2>Starting at $78 per month</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, excepturi!
    </p>
  </header>
  <div class="input-group">
    <input
      type="text"
      class="input input--shadow"
      placeholder="Enter your domain here..."
    />
    <button class="button button--accent">
      <svg class="icon icon--light">
        <use xlink:href="icons/sprite.svg#search"></use>
      </svg>
      Search
    </button>
  </div>
  <ul class="list domain-block__prices">
    <li>.com $9</li>
    <li><div class="badge badge--secondary">.sg $10</div></li>
    <li>.space $11</li>
    <li>.info $14</li>
    <li>.net $10</li>
    <li>.xyz $4</li>
  </ul>
</section>
